<%- include header.ejs %>

<%- include main_nav.ejs %>
<!DOCTYPE html>
<html>
<head>
<style>
body {
   
  background-image: url('Assets/images/bg.png');
 
}
</style>
</head>
<body>


    <h2 style="text-align:center">HEY THERE...!</h2>





<p style="color: white;"> We are greatful to have you here</p></br>
<p style="color: white;"> Please press the below button to findout more about developer..</p>

</body>
</html>

<a style="color: white;" href="/about">ABOUT ME</a>



  
<%- include bottom_nav.ejs %>  

<%- include footer.ejs %>