<%- include header.ejs %>

<%- include main_nav.ejs %>
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('Assets/images/bg.jpg');
}
</style>
</head>
<body>

    <h2 style="text-align:center">HEY THERE...!</h2>

<p> We are greatful to have you here</p></br>
<p> Please press the below button to findout more about developer..</p>

</body>
</html>


<a  href="/about">ABOUT ME</a>



  
<%- include bottom_nav.ejs %>  

<%- include footer.ejs %>