<%- include header.ejs %>

<%- include main_nav.ejs %>
<!DOCTYPE html>
<html>
<head>
<style>
a::after {
  content: " (" attr(href) ")";
}
.info{
  width:"50%";
}
</style>
</head>
<body>
<h1>PROJECTS</h1>
<p>This are the projects i worked</p>

<p>Look at our projects:</p>
<p>
  <img src="Assets/images/mbot.png" width="50%" height="50%">
</p></br>
<div class="info tab-full left">  
<p style="text-align:right" width="50%" height="50" > MBOT

  Description:
  
  The College chatbot (MBot) project is a system and  web application which provides answer to the query of the users, as a result they just have to query through the bot which is used for chatting. Further, can chat using any format there is no specific format the user has to follow.User need to login and can interact with staffs and students using forum. They can get response to query using bot with pre-defined system response. This system helps the students to be updated about college activities. This system helps the guest users to interact with the college site easily.
  
</div>

</body>
</html>




<%- include bottom_nav.ejs %>  

<%- include footer.ejs %>