<%- include header.ejs %>

<%- include main_nav.ejs %>
<!DOCTYPE html>
<html>
<head>
<style>
.serviceHead{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;   
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility; 
    text-shadow: 4px 4px 0px #928f8d, 7px 7px 0px rgba(0, 0, 0, 0.2);
 }
 body {
    display: grid;
    font-family: 'Manrope', sans-serif
}
</style>
</head>
<body>

    <div class="container text-center">

        <h3 class="mb-5">What we can do for you?</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <div class="mt-2"> <img src="Assets/images/Web.png" width="60" height="60" /> </div>
                    <h5 class="mt-3">Web Development</h5><small>Design responsive UI for Web Applications using
                        HTML, CSS, Angular, NodeJS</small>
                </div>
            </div>
           
            <div class="col-md-4">
                <div class="text-center">
                    <div class="mt-2"> <img src="Assets/images/mobile.png" width="60" height="60" /> </div>
                    <h5 class="mt-3">Mobile Application Development</h5> <small>Develop interactive and user
                        friendly mobile application using Android Studio</small>
                </div>
            </div>

            
           

            <div class="col-md-4">
                <div class="text-center">
                    <div class="mt-2"> <img src="Assets/images/documents.jpg" width="60" height="60" /> </div>
                    <h5 class="mt-3">Documentation</h5> <small>Document all the developed web based or backend
                        application.</small>
                </div>
            </div>
        </div>


    </div><br>
    <div class="text-center">
    <a  href="/contact">Contact me for any of these services</a>
    </div>
</body>
</html>





  
<%- include bottom_nav.ejs %>  

<%- include footer.ejs %>